{
  "openapi": "3.0.3",
  "info": {
    "title": "Cloudflare R2 and D1 corpus OpenAPI subset",
    "version": "corpus"
  },
  "servers": [
    {
      "url": "https://api.cloudflare.com"
    }
  ],
  "paths": {
    "/client/v4/accounts/{account_id}/d1/database": {
      "post": {
        "operationId": "d1-create-database",
        "summary": "Create D1 Database",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "jurisdiction": {
                    "type": "string"
                  },
                  "primary_location_hint": {
                    "type": "string"
                  },
                  "read_replication": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created D1 database"
          }
        },
        "security": [
          {
            "api_token": []
          }
        ]
      }
    },
    "/client/v4/accounts/{account_id}/d1/database/{database_id}": {
      "delete": {
        "operationId": "d1-delete-database",
        "summary": "Delete D1 Database",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "database_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted D1 database"
          }
        },
        "security": [
          {
            "api_token": []
          }
        ]
      },
      "get": {
        "operationId": "d1-get-database",
        "summary": "Get D1 Database",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "database_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "D1 database"
          }
        },
        "security": [
          {
            "api_token": []
          }
        ]
      }
    },
    "/client/v4/accounts/{account_id}/r2/buckets": {
      "post": {
        "operationId": "r2-create-bucket",
        "summary": "Create Bucket",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cf-r2-jurisdiction",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "locationHint": {
                    "type": "string"
                  },
                  "storageClass": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created bucket"
          }
        },
        "security": [
          {
            "api_token": []
          }
        ]
      }
    },
    "/client/v4/accounts/{account_id}/r2/buckets/{bucket_name}": {
      "delete": {
        "operationId": "r2-delete-bucket",
        "summary": "Delete Bucket",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bucket_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cf-r2-jurisdiction",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted bucket"
          }
        },
        "security": [
          {
            "api_token": []
          }
        ]
      },
      "get": {
        "operationId": "r2-get-bucket",
        "summary": "Get Bucket",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bucket_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cf-r2-jurisdiction",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bucket"
          }
        },
        "security": [
          {
            "api_token": []
          }
        ]
      },
      "patch": {
        "operationId": "r2-patch-bucket",
        "summary": "Patch Bucket",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bucket_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cf-r2-jurisdiction",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cf-r2-storage-class",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Patched bucket"
          }
        },
        "security": [
          {
            "api_token": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "api_token": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
