{
  "openapi": "3.0.3",
  "info": {
    "title": "Focused GitHub REST parity subset",
    "version": "2022-11-28"
  },
  "servers": [
    {
      "url": "https://api.github.com"
    }
  ],
  "components": {
    "securitySchemes": {
      "github_token": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "repository": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "full_name": { "type": "string" },
          "private": { "type": "boolean" },
          "visibility": { "type": "string" },
          "description": { "type": "string", "nullable": true },
          "default_branch": { "type": "string" },
          "html_url": { "type": "string" }
        }
      },
      "label": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "color": { "type": "string" },
          "description": { "type": "string", "nullable": true }
        }
      },
      "content-file": {
        "type": "object",
        "properties": {
          "path": { "type": "string" },
          "sha": { "type": "string" },
          "content": { "type": "string" },
          "encoding": { "type": "string" }
        }
      }
    }
  },
  "security": [
    {
      "github_token": []
    }
  ],
  "paths": {
    "/orgs/{org}/repos": {
      "post": {
        "operationId": "repos/create-in-org",
        "parameters": [
          { "name": "org", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name"],
                "properties": {
                  "name": { "type": "string" },
                  "description": { "type": "string" },
                  "private": { "type": "boolean" },
                  "visibility": { "type": "string" },
                  "has_issues": { "type": "boolean" },
                  "auto_init": { "type": "boolean" }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/repository" } } }
          }
        }
      }
    },
    "/repos/{owner}/{repo}": {
      "get": {
        "operationId": "repos/get",
        "parameters": [
          { "name": "owner", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "repo", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/repository" } } }
          }
        }
      },
      "patch": {
        "operationId": "repos/update",
        "parameters": [
          { "name": "owner", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "repo", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "description": { "type": "string" },
                  "private": { "type": "boolean" },
                  "visibility": { "type": "string" },
                  "has_issues": { "type": "boolean" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/repository" } } }
          }
        }
      },
      "delete": {
        "operationId": "repos/delete",
        "parameters": [
          { "name": "owner", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "repo", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "204": { "description": "No Content" }
        }
      }
    },
    "/repos/{owner}/{repo}/labels": {
      "post": {
        "operationId": "issues/create-label",
        "parameters": [
          { "name": "owner", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "repo", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name"],
                "properties": {
                  "name": { "type": "string" },
                  "color": { "type": "string" },
                  "description": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/label" } } }
          }
        }
      }
    },
    "/repos/{owner}/{repo}/labels/{name}": {
      "get": {
        "operationId": "issues/get-label",
        "parameters": [
          { "name": "owner", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "repo", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "name", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/label" } } }
          }
        }
      },
      "patch": {
        "operationId": "issues/update-label",
        "parameters": [
          { "name": "owner", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "repo", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "name", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "color": { "type": "string" },
                  "description": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/label" } } }
          }
        }
      },
      "delete": {
        "operationId": "issues/delete-label",
        "parameters": [
          { "name": "owner", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "repo", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "name", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "204": { "description": "No Content" }
        }
      }
    },
    "/repos/{owner}/{repo}/contents/{path}": {
      "get": {
        "operationId": "repos/get-content",
        "parameters": [
          { "name": "owner", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "repo", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "path", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/content-file" } } }
          }
        }
      },
      "put": {
        "operationId": "repos/create-or-update-file-contents",
        "parameters": [
          { "name": "owner", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "repo", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "path", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["message", "content"],
                "properties": {
                  "message": { "type": "string" },
                  "content": { "type": "string" },
                  "sha": { "type": "string" },
                  "branch": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "OK" },
          "201": { "description": "Created" }
        }
      },
      "delete": {
        "operationId": "repos/delete-file",
        "parameters": [
          { "name": "owner", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "repo", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "path", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["message", "sha"],
                "properties": {
                  "message": { "type": "string" },
                  "sha": { "type": "string" },
                  "branch": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "OK" }
        }
      }
    }
  }
}
