{
  "openapi": "3.0.0",
  "info": {
    "title": "Azure Storage Account Parity Fixture",
    "version": "2023-05-01"
  },
  "servers": [
    {
      "url": "https://management.azure.com"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}": {
      "get": {
        "operationId": "StorageAccounts_GetProperties",
        "parameters": [
          {"name": "subscriptionId", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "resourceGroupName", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "accountName", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "api-version", "in": "query", "required": true, "schema": {"type": "string"}}
        ],
        "responses": {
          "200": {
            "description": "Storage account",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/StorageAccount"}
              }
            }
          }
        }
      },
      "put": {
        "operationId": "StorageAccounts_Create",
        "parameters": [
          {"name": "subscriptionId", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "resourceGroupName", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "accountName", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "api-version", "in": "query", "required": true, "schema": {"type": "string"}}
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/StorageAccountCreateParameters"}
            }
          }
        },
        "responses": {
          "200": {"description": "Storage account"},
          "202": {"description": "Accepted"}
        }
      },
      "delete": {
        "operationId": "StorageAccounts_Delete",
        "parameters": [
          {"name": "subscriptionId", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "resourceGroupName", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "accountName", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "api-version", "in": "query", "required": true, "schema": {"type": "string"}}
        ],
        "responses": {
          "200": {"description": "Deleted"},
          "204": {"description": "No Content"}
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "azure_auth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "StorageAccount": {
        "type": "object",
        "properties": {
          "id": {"type": "string"},
          "name": {"type": "string"},
          "location": {"type": "string"},
          "kind": {"type": "string"},
          "sku": {"type": "object"}
        }
      },
      "StorageAccountCreateParameters": {
        "type": "object",
        "required": ["location", "sku", "kind"],
        "properties": {
          "location": {"type": "string"},
          "kind": {"type": "string"},
          "sku": {"type": "object"}
        }
      }
    }
  }
}
