{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "id": "storage:v1",
  "name": "storage",
  "version": "v1",
  "title": "Cloud Storage JSON API",
  "description": "Stores and retrieves potentially large, immutable data objects.",
  "rootUrl": "https://storage.googleapis.com/",
  "servicePath": "storage/v1/",
  "baseUrl": "https://storage.googleapis.com/storage/v1/",
  "basePath": "/storage/v1/",
  "schemas": {
    "Bucket": {
      "id": "Bucket",
      "type": "object",
      "description": "A bucket.",
      "properties": {
        "acl": {
          "type": "array",
          "description": "Access controls on the bucket.",
          "items": {
            "$ref": "BucketAccessControl"
          },
          "annotations": {
            "required": [
              "storage.buckets.update"
            ]
          }
        },
        "billing": {
          "type": "object",
          "description": "The bucket's billing configuration.",
          "properties": {
            "requesterPays": {
              "type": "boolean",
              "description": "When set to true, Requester Pays is enabled for this bucket."
            }
          }
        },
        "cors": {
          "type": "array",
          "description": "The bucket's Cross-Origin Resource Sharing (CORS) configuration.",
          "items": {
            "type": "object",
            "properties": {
              "maxAgeSeconds": {
                "type": "integer",
                "description": "The value, in seconds, to return in the  Access-Control-Max-Age header used in preflight responses.",
                "format": "int32"
              },
              "method": {
                "type": "array",
                "description": "The list of HTTP methods on which to include CORS response headers, (GET, OPTIONS, POST, etc) Note: \"*\" is permitted in the list of methods, and means \"any method\".",
                "items": {
                  "type": "string"
                }
              },
              "origin": {
                "type": "array",
                "description": "The list of Origins eligible to receive CORS response headers. Note: \"*\" is permitted in the list of origins, and means \"any Origin\".",
                "items": {
                  "type": "string"
                }
              },
              "responseHeader": {
                "type": "array",
                "description": "The list of HTTP headers other than the simple response headers to give permission for the user-agent to share across domains.",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        },
        "customPlacementConfig": {
          "type": "object",
          "description": "The bucket's custom placement configuration for Custom Dual Regions.",
          "properties": {
            "dataLocations": {
              "type": "array",
              "description": "The list of regional locations in which data is placed.",
              "items": {
                "type": "string"
              }
            }
          }
        },
        "defaultEventBasedHold": {
          "type": "boolean",
          "description": "The default value for event-based hold on newly created objects in this bucket. Event-based hold is a way to retain objects indefinitely until an event occurs, signified by the hold's release. After being released, such objects will be subject to bucket-level retention (if any). One sample use case of this flag is for banks to hold loan documents for at least 3 years after loan is paid in full. Here, bucket-level retention is 3 years and the event is loan being paid in full. In this example, these objects will be held intact for any number of years until the event has occurred (event-based hold on the object is released) and then 3 more years after that. That means retention duration of the objects begins from the moment event-based hold transitioned from true to false. Objects under event-based hold cannot be deleted, overwritten or archived until the hold is removed."
        },
        "defaultObjectAcl": {
          "type": "array",
          "description": "Default access controls to apply to new objects when no ACL is provided.",
          "items": {
            "$ref": "ObjectAccessControl"
          }
        },
        "encryption": {
          "type": "object",
          "description": "Encryption configuration for a bucket.",
          "properties": {
            "defaultKmsKeyName": {
              "type": "string",
              "description": "A Cloud KMS key that will be used to encrypt objects inserted into this bucket, if no encryption method is specified."
            },
            "googleManagedEncryptionEnforcementConfig": {
              "type": "object",
              "description": "If set, the new objects created in this bucket must comply with this enforcement config. Changing this has no effect on existing objects; it applies to new objects only. If omitted, the new objects are allowed to be encrypted with Google Managed Encryption type by default.",
              "properties": {
                "restrictionMode": {
                  "type": "string",
                  "description": "Restriction mode for Google-Managed Encryption Keys. Defaults to NotRestricted.",
                  "enum": [
                    "NotRestricted",
                    "FullyRestricted"
                  ],
                  "enumDescriptions": [
                    "Creation of new objects with Google Managed Encryption is not restricted.",
                    "Creation of new objects with Google Managed Encryption is fully restricted."
                  ]
                },
                "effectiveTime": {
                  "type": "string",
                  "description": "Server-determined value that indicates the time from which configuration was enforced and effective. This value is in RFC 3339 format.",
                  "format": "date-time"
                }
              }
            },
            "customerManagedEncryptionEnforcementConfig": {
              "type": "object",
              "description": "If set, the new objects created in this bucket must comply with this enforcement config. Changing this has no effect on existing objects; it applies to new objects only. If omitted, the new objects are allowed to be encrypted with Customer Managed Encryption type by default.",
              "properties": {
                "restrictionMode": {
                  "type": "string",
                  "description": "Restriction mode for Customer-Managed Encryption Keys. Defaults to NotRestricted.",
                  "enum": [
                    "NotRestricted",
                    "FullyRestricted"
                  ],
                  "enumDescriptions": [
                    "Creation of new objects with Customer-Managed Encryption is not restricted.",
                    "Creation of new objects with Customer-Managed Encryption is fully restricted."
                  ]
                },
                "effectiveTime": {
                  "type": "string",
                  "description": "Server-determined value that indicates the time from which configuration was enforced and effective. This value is in RFC 3339 format.",
                  "format": "date-time"
                }
              }
            },
            "customerSuppliedEncryptionEnforcementConfig": {
              "type": "object",
              "description": "If set, the new objects created in this bucket must comply with this enforcement config. Changing this has no effect on existing objects; it applies to new objects only. If omitted, the new objects are allowed to be encrypted with Customer Supplied Encryption type by default.",
              "properties": {
                "restrictionMode": {
                  "type": "string",
                  "description": "Restriction mode for Customer-Supplied Encryption Keys. Defaults to NotRestricted.",
                  "enum": [
                    "NotRestricted",
                    "FullyRestricted"
                  ],
                  "enumDescriptions": [
                    "Creation of new objects with Customer-Supplied Encryption is not restricted.",
                    "Creation of new objects with Customer-Supplied Encryption is fully restricted."
                  ]
                },
                "effectiveTime": {
                  "type": "string",
                  "description": "Server-determined value that indicates the time from which configuration was enforced and effective. This value is in RFC 3339 format.",
                  "format": "date-time"
                }
              }
            }
          }
        },
        "etag": {
          "type": "string",
          "description": "HTTP 1.1 Entity tag for the bucket."
        },
        "hierarchicalNamespace": {
          "type": "object",
          "description": "The bucket's hierarchical namespace configuration.",
          "properties": {
            "enabled": {
              "type": "boolean",
              "description": "When set to true, hierarchical namespace is enabled for this bucket."
            }
          }
        },
        "iamConfiguration": {
          "type": "object",
          "description": "The bucket's IAM configuration.",
          "properties": {
            "bucketPolicyOnly": {
              "type": "object",
              "description": "The bucket's uniform bucket-level access configuration. The feature was formerly known as Bucket Policy Only. For backward compatibility, this field will be populated with identical information as the uniformBucketLevelAccess field. We recommend using the uniformBucketLevelAccess field to enable and disable the feature.",
              "properties": {
                "enabled": {
                  "type": "boolean",
                  "description": "If set, access is controlled only by bucket-level or above IAM policies."
                },
                "lockedTime": {
                  "type": "string",
                  "description": "The deadline for changing iamConfiguration.bucketPolicyOnly.enabled from true to false in RFC 3339 format. iamConfiguration.bucketPolicyOnly.enabled may be changed from true to false until the locked time, after which the field is immutable.",
                  "format": "date-time"
                }
              }
            },
            "uniformBucketLevelAccess": {
              "type": "object",
              "description": "The bucket's uniform bucket-level access configuration.",
              "properties": {
                "enabled": {
                  "type": "boolean",
                  "description": "If set, access is controlled only by bucket-level or above IAM policies."
                },
                "lockedTime": {
                  "type": "string",
                  "description": "The deadline for changing iamConfiguration.uniformBucketLevelAccess.enabled from true to false in RFC 3339  format. iamConfiguration.uniformBucketLevelAccess.enabled may be changed from true to false until the locked time, after which the field is immutable.",
                  "format": "date-time"
                }
              }
            },
            "publicAccessPrevention": {
              "type": "string",
              "description": "The bucket's Public Access Prevention configuration. Currently, 'inherited' and 'enforced' are supported."
            }
          }
        },
        "id": {
          "type": "string",
          "description": "The ID of the bucket. For buckets, the id and name properties are the same."
        },
        "ipFilter": {
          "type": "object",
          "description": "The bucket's IP filter configuration. Specifies the network sources that are allowed to access the operations on the bucket, as well as its underlying objects. Only enforced when the mode is set to 'Enabled'.",
          "properties": {
            "mode": {
              "type": "string",
              "description": "The mode of the IP filter. Valid values are 'Enabled' and 'Disabled'."
            },
            "publicNetworkSource": {
              "type": "object",
              "description": "The public network source of the bucket's IP filter.",
              "properties": {
                "allowedIpCidrRanges": {
                  "type": "array",
                  "description": "The list of public IPv4, IPv6 cidr ranges that are allowed to access the bucket.",
                  "items": {
                    "type": "string"
                  }
                }
              }
            },
            "vpcNetworkSources": {
              "type": "array",
              "description": "The list of [VPC network](https://cloud.google.com/vpc/docs/vpc) sources of the bucket's IP filter.",
              "items": {
                "type": "object",
                "properties": {
                  "network": {
                    "type": "string",
                    "description": "Name of the network. Format: projects/{PROJECT_ID}/global/networks/{NETWORK_NAME}"
                  },
                  "allowedIpCidrRanges": {
                    "type": "array",
                    "description": "The list of IPv4, IPv6 cidr ranges subnetworks that are allowed to access the bucket.",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "allowCrossOrgVpcs": {
              "type": "boolean",
              "description": "Whether to allow cross-org VPCs in the bucket's IP filter configuration."
            },
            "allowAllServiceAgentAccess": {
              "type": "boolean",
              "description": "Whether to allow all service agents to access the bucket regardless of the IP filter configuration."
            }
          }
        },
        "kind": {
          "type": "string",
          "description": "The kind of item this is. For buckets, this is always storage#bucket.",
          "default": "storage#bucket"
        },
        "labels": {
          "type": "object",
          "description": "User-provided labels, in key/value pairs.",
          "additionalProperties": {
            "type": "string",
            "description": "An individual label entry."
          }
        },
        "lifecycle": {
          "type": "object",
          "description": "The bucket's lifecycle configuration. See [Lifecycle Management](https://cloud.google.com/storage/docs/lifecycle) for more information.",
          "properties": {
            "rule": {
              "type": "array",
              "description": "A lifecycle management rule, which is made of an action to take and the condition(s) under which the action will be taken.",
              "items": {
                "type": "object",
                "properties": {
                  "action": {
                    "type": "object",
                    "description": "The action to take.",
                    "properties": {
                      "storageClass": {
                        "type": "string",
                        "description": "Target storage class. Required iff the type of the action is SetStorageClass."
                      },
                      "type": {
                        "type": "string",
                        "description": "Type of the action. Currently, only Delete, SetStorageClass, and AbortIncompleteMultipartUpload are supported."
                      }
                    }
                  },
                  "condition": {
                    "type": "object",
                    "description": "The condition(s) under which the action will be taken.",
                    "properties": {
                      "age": {
                        "type": "integer",
                        "description": "Age of an object (in days). This condition is satisfied when an object reaches the specified age.",
                        "format": "int32"
                      },
                      "createdBefore": {
                        "type": "string",
                        "description": "A date in RFC 3339 format with only the date part (for instance, \"2013-01-15\"). This condition is satisfied when an object is created before midnight of the specified date in UTC.",
                        "format": "date"
                      },
                      "customTimeBefore": {
                        "type": "string",
                        "description": "A date in RFC 3339 format with only the date part (for instance, \"2013-01-15\"). This condition is satisfied when the custom time on an object is before this date in UTC.",
                        "format": "date"
                      },
                      "daysSinceCustomTime": {
                        "type": "integer",
                        "description": "Number of days elapsed since the user-specified timestamp set on an object. The condition is satisfied if the days elapsed is at least this number. If no custom timestamp is specified on an object, the condition does not apply.",
                        "format": "int32"
                      },
                      "daysSinceNoncurrentTime": {
                        "type": "integer",
                        "description": "Number of days elapsed since the noncurrent timestamp of an object. The condition is satisfied if the days elapsed is at least this number. This condition is relevant only for versioned objects. The value of the field must be a nonnegative integer. If it's zero, the object version will become eligible for Lifecycle action as soon as it becomes noncurrent.",
                        "format": "int32"
                      },
                      "isLive": {
                        "type": "boolean",
                        "description": "Relevant only for versioned objects. If the value is true, this condition matches live objects; if the value is false, it matches archived objects."
                      },
                      "matchesPattern": {
                        "type": "string",
                        "description": "A regular expression that satisfies the RE2 syntax. This condition is satisfied when the name of the object matches the RE2 pattern. Note: This feature is currently in the \"Early Access\" launch stage and is only available to a whitelisted set of users; that means that this feature may be changed in backward-incompatible ways and that it is not guaranteed to be released."
                      },
                      "matchesPrefix": {
                        "type": "array",
                        "description": "List of object name prefixes. This condition will be satisfied when at least one of the prefixes exactly matches the beginning of the object name.",
                        "items": {
                          "type": "string"
                        }
                      },
                      "matchesSuffix": {
                        "type": "array",
                        "description": "List of object name suffixes. This condition will be satisfied when at least one of the suffixes exactly matches the end of the object name.",
                        "items": {
                          "type": "string"
                        }
                      },
                      "matchesStorageClass": {
                        "type": "array",
                        "description": "Objects having any of the storage classes specified by this condition will be matched. Values include MULTI_REGIONAL, REGIONAL, NEARLINE, COLDLINE, ARCHIVE, STANDARD, and DURABLE_REDUCED_AVAILABILITY.",
                        "items": {
                          "type": "string"
                        }
                      },
                      "noncurrentTimeBefore": {
                        "type": "string",
                        "description": "A date in RFC 3339 format with only the date part (for instance, \"2013-01-15\"). This condition is satisfied when the noncurrent time on an object is before this date in UTC. This condition is relevant only for versioned objects.",
                        "format": "date"
                      },
                      "numNewerVersions": {
                        "type": "integer",
                        "description": "Relevant only for versioned objects. If the value is N, this condition is satisfied when there are at least N versions (including the live version) newer than this version of the object.",
                        "format": "int32"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "autoclass": {
          "type": "object",
          "description": "The bucket's Autoclass configuration.",
          "properties": {
            "enabled": {
              "type": "boolean",
              "description": "Whether or not Autoclass is enabled on this bucket"
            },
            "toggleTime": {
              "type": "string",
              "description": "A date and time in RFC 3339 format representing the instant at which \"enabled\" was last toggled.",
              "format": "date-time"
            },
            "terminalStorageClass": {
              "type": "string",
              "description": "The storage class that objects in the bucket eventually transition to if they are not read for a certain length of time. Valid values are NEARLINE and ARCHIVE."
            },
            "terminalStorageClassUpdateTime": {
              "type": "string",
              "description": "A date and time in RFC 3339 format representing the time of the most recent update to \"terminalStorageClass\".",
              "format": "date-time"
            }
          }
        },
        "location": {
          "type": "string",
          "description": "The location of the bucket. Object data for objects in the bucket resides in physical storage within this region. Defaults to US. See the [Developer's Guide](https://cloud.google.com/storage/docs/locations) for the authoritative list."
        },
        "locationType": {
          "type": "string",
          "description": "The type of the bucket location."
        },
        "logging": {
          "type": "object",
          "description": "The bucket's logging configuration, which defines the destination bucket and optional name prefix for the current bucket's logs.",
          "properties": {
            "logBucket": {
              "type": "string",
              "description": "The destination bucket where the current bucket's logs should be placed."
            },
            "logObjectPrefix": {
              "type": "string",
              "description": "A prefix for log object names."
            }
          }
        },
        "generation": {
          "type": "string",
          "description": "The generation of this bucket.",
          "format": "int64"
        },
        "metageneration": {
          "type": "string",
          "description": "The metadata generation of this bucket.",
          "format": "int64"
        },
        "name": {
          "type": "string",
          "description": "The name of the bucket.",
          "annotations": {
            "required": [
              "storage.buckets.insert"
            ]
          }
        },
        "owner": {
          "type": "object",
          "description": "The owner of the bucket. This is always the project team's owner group.",
          "properties": {
            "entity": {
              "type": "string",
              "description": "The entity, in the form project-owner-projectId."
            },
            "entityId": {
              "type": "string",
              "description": "The ID for the entity."
            }
          }
        },
        "projectNumber": {
          "type": "string",
          "description": "The project number of the project the bucket belongs to.",
          "format": "uint64"
        },
        "retentionPolicy": {
          "type": "object",
          "description": "The bucket's retention policy. The retention policy enforces a minimum retention time for all objects contained in the bucket, based on their creation time. Any attempt to overwrite or delete objects younger than the retention period will result in a PERMISSION_DENIED error. An unlocked retention policy can be modified or removed from the bucket via a storage.buckets.update operation. A locked retention policy cannot be removed or shortened in duration for the lifetime of the bucket. Attempting to remove or decrease period of a locked retention policy will result in a PERMISSION_DENIED error.",
          "properties": {
            "effectiveTime": {
              "type": "string",
              "description": "Server-determined value that indicates the time from which policy was enforced and effective. This value is in RFC 3339 format.",
              "format": "date-time"
            },
            "isLocked": {
              "type": "boolean",
              "description": "Once locked, an object retention policy cannot be modified."
            },
            "retentionPeriod": {
              "type": "string",
              "description": "The duration in seconds that objects need to be retained. Retention duration must be greater than zero and less than 100 years. Note that enforcement of retention periods less than a day is not guaranteed. Such periods should only be used for testing purposes.",
              "format": "int64"
            }
          }
        },
        "objectRetention": {
          "type": "object",
          "description": "The bucket's object retention config.",
          "properties": {
            "mode": {
              "type": "string",
              "description": "The bucket's object retention mode. Can be Enabled."
            }
          }
        },
        "rpo": {
          "type": "string",
          "description": "The Recovery Point Objective (RPO) of this bucket. Set to ASYNC_TURBO to turn on Turbo Replication on a bucket."
        },
        "selfLink": {
          "type": "string",
          "description": "The URI of this bucket."
        },
        "softDeletePolicy": {
          "type": "object",
          "description": "The bucket's soft delete policy, which defines the period of time that soft-deleted objects will be retained, and cannot be permanently deleted.",
          "properties": {
            "retentionDurationSeconds": {
              "type": "string",
              "description": "The duration in seconds that soft-deleted objects in the bucket will be retained and cannot be permanently deleted.",
              "format": "int64"
            },
            "effectiveTime": {
              "type": "string",
              "description": "Server-determined value that indicates the time from which the policy, or one with a greater retention, was effective. This value is in RFC 3339 format.",
              "format": "date-time"
            }
          }
        },
        "storageClass": {
          "type": "string",
          "description": "The bucket's default storage class, used whenever no storageClass is specified for a newly-created object. This defines how objects in the bucket are stored and determines the SLA and the cost of storage. Values include MULTI_REGIONAL, REGIONAL, STANDARD, NEARLINE, COLDLINE, ARCHIVE, and DURABLE_REDUCED_AVAILABILITY. If this value is not specified when the bucket is created, it will default to STANDARD. For more information, see [Storage Classes](https://cloud.google.com/storage/docs/storage-classes)."
        },
        "timeCreated": {
          "type": "string",
          "description": "The creation time of the bucket in RFC 3339 format.",
          "format": "date-time"
        },
        "updated": {
          "type": "string",
          "description": "The modification time of the bucket in RFC 3339 format.",
          "format": "date-time"
        },
        "softDeleteTime": {
          "type": "string",
          "description": "The soft delete time of the bucket in RFC 3339 format.",
          "format": "date-time"
        },
        "hardDeleteTime": {
          "type": "string",
          "description": "The hard delete time of the bucket in RFC 3339 format.",
          "format": "date-time"
        },
        "versioning": {
          "type": "object",
          "description": "The bucket's versioning configuration.",
          "properties": {
            "enabled": {
              "type": "boolean",
              "description": "While set to true, versioning is fully enabled for this bucket."
            }
          }
        },
        "website": {
          "type": "object",
          "description": "The bucket's website configuration, controlling how the service behaves when accessing bucket contents as a web site. See the [Static Website Examples](https://cloud.google.com/storage/docs/static-website) for more information.",
          "properties": {
            "mainPageSuffix": {
              "type": "string",
              "description": "If the requested object path is missing, the service will ensure the path has a trailing '/', append this suffix, and attempt to retrieve the resulting object. This allows the creation of index.html objects to represent directory pages."
            },
            "notFoundPage": {
              "type": "string",
              "description": "If the requested object path is missing, and any mainPageSuffix object is missing, if applicable, the service will return the named object from this bucket as the content for a 404 Not Found result."
            }
          }
        },
        "satisfiesPZS": {
          "type": "boolean",
          "description": "Reserved for future use."
        },
        "satisfiesPZI": {
          "type": "boolean",
          "description": "Reserved for future use."
        }
      }
    },
    "Object": {
      "id": "Object",
      "type": "object",
      "description": "An object.",
      "properties": {
        "acl": {
          "type": "array",
          "description": "Access controls on the object.",
          "items": {
            "$ref": "ObjectAccessControl"
          },
          "annotations": {
            "required": [
              "storage.objects.update"
            ]
          }
        },
        "bucket": {
          "type": "string",
          "description": "The name of the bucket containing this object."
        },
        "cacheControl": {
          "type": "string",
          "description": "Cache-Control directive for the object data. If omitted, and the object is accessible to all anonymous users, the default will be public, max-age=3600."
        },
        "componentCount": {
          "type": "integer",
          "description": "Number of underlying components that make up this object. Components are accumulated by compose operations.",
          "format": "int32"
        },
        "contentDisposition": {
          "type": "string",
          "description": "Content-Disposition of the object data."
        },
        "contentEncoding": {
          "type": "string",
          "description": "Content-Encoding of the object data."
        },
        "contentLanguage": {
          "type": "string",
          "description": "Content-Language of the object data."
        },
        "contentType": {
          "type": "string",
          "description": "Content-Type of the object data. If an object is stored without a Content-Type, it is served as application/octet-stream."
        },
        "crc32c": {
          "type": "string",
          "description": "CRC32c checksum, as described in RFC 4960, Appendix B; encoded using base64 in big-endian byte order. For more information about using the CRC32c checksum, see [Data Validation and Change Detection](https://cloud.google.com/storage/docs/data-validation)."
        },
        "customTime": {
          "type": "string",
          "description": "A timestamp in RFC 3339 format specified by the user for an object.",
          "format": "date-time"
        },
        "customerEncryption": {
          "type": "object",
          "description": "Metadata of customer-supplied encryption key, if the object is encrypted by such a key.",
          "properties": {
            "encryptionAlgorithm": {
              "type": "string",
              "description": "The encryption algorithm."
            },
            "keySha256": {
              "type": "string",
              "description": "SHA256 hash value of the encryption key."
            }
          }
        },
        "etag": {
          "type": "string",
          "description": "HTTP 1.1 Entity tag for the object."
        },
        "eventBasedHold": {
          "type": "boolean",
          "description": "Whether an object is under event-based hold. Event-based hold is a way to retain objects until an event occurs, which is signified by the hold's release (i.e. this value is set to false). After being released (set to false), such objects will be subject to bucket-level retention (if any). One sample use case of this flag is for banks to hold loan documents for at least 3 years after loan is paid in full. Here, bucket-level retention is 3 years and the event is the loan being paid in full. In this example, these objects will be held intact for any number of years until the event has occurred (event-based hold on the object is released) and then 3 more years after that. That means retention duration of the objects begins from the moment event-based hold transitioned from true to false."
        },
        "generation": {
          "type": "string",
          "description": "The content generation of this object. Used for object versioning.",
          "format": "int64"
        },
        "id": {
          "type": "string",
          "description": "The ID of the object, including the bucket name, object name, and generation number."
        },
        "kind": {
          "type": "string",
          "description": "The kind of item this is. For objects, this is always storage#object.",
          "default": "storage#object"
        },
        "kmsKeyName": {
          "type": "string",
          "description": "Not currently supported. Specifying the parameter causes the request to fail with status code 400 - Bad Request."
        },
        "md5Hash": {
          "type": "string",
          "description": "MD5 hash of the data; encoded using base64. For more information about using the MD5 hash, see [Data Validation and Change Detection](https://cloud.google.com/storage/docs/data-validation)."
        },
        "mediaLink": {
          "type": "string",
          "description": "Media download link."
        },
        "metadata": {
          "type": "object",
          "description": "User-provided metadata, in key/value pairs.",
          "additionalProperties": {
            "type": "string",
            "description": "An individual metadata entry."
          }
        },
        "contexts": {
          "type": "object",
          "description": "User-defined or system-defined object contexts. Each object context is a key-payload pair, where the key provides the identification and the payload holds the associated value and additional metadata.",
          "properties": {
            "custom": {
              "type": "object",
              "description": "User-defined object contexts.",
              "additionalProperties": {
                "$ref": "ObjectCustomContextPayload",
                "description": "A single user-defined object context."
              }
            }
          }
        },
        "restoreToken": {
          "type": "string",
          "description": "Restore token used to differentiate deleted objects with the same name and generation. This field is only returned for deleted objects in hierarchical namespace buckets."
        },
        "metageneration": {
          "type": "string",
          "description": "The version of the metadata for this object at this generation. Used for preconditions and for detecting changes in metadata. A metageneration number is only meaningful in the context of a particular generation of a particular object.",
          "format": "int64"
        },
        "name": {
          "type": "string",
          "description": "The name of the object. Required if not specified by URL parameter."
        },
        "owner": {
          "type": "object",
          "description": "The owner of the object. This will always be the uploader of the object.",
          "properties": {
            "entity": {
              "type": "string",
              "description": "The entity, in the form user-userId."
            },
            "entityId": {
              "type": "string",
              "description": "The ID for the entity."
            }
          }
        },
        "retentionExpirationTime": {
          "type": "string",
          "description": "A server-determined value that specifies the earliest time that the object's retention period expires. This value is in RFC 3339 format. Note 1: This field is not provided for objects with an active event-based hold, since retention expiration is unknown until the hold is removed. Note 2: This value can be provided even when temporary hold is set (so that the user can reason about policy without having to first unset the temporary hold).",
          "format": "date-time"
        },
        "retention": {
          "type": "object",
          "description": "A collection of object level retention parameters.",
          "properties": {
            "retainUntilTime": {
              "type": "string",
              "description": "A time in RFC 3339 format until which object retention protects this object.",
              "format": "date-time"
            },
            "mode": {
              "type": "string",
              "description": "The bucket's object retention mode, can only be Unlocked or Locked."
            }
          }
        },
        "selfLink": {
          "type": "string",
          "description": "The link to this object."
        },
        "size": {
          "type": "string",
          "description": "Content-Length of the data in bytes.",
          "format": "uint64"
        },
        "storageClass": {
          "type": "string",
          "description": "Storage class of the object."
        },
        "temporaryHold": {
          "type": "boolean",
          "description": "Whether an object is under temporary hold. While this flag is set to true, the object is protected against deletion and overwrites. A common use case of this flag is regulatory investigations where objects need to be retained while the investigation is ongoing. Note that unlike event-based hold, temporary hold does not impact retention expiration time of an object."
        },
        "timeCreated": {
          "type": "string",
          "description": "The creation time of the object in RFC 3339 format.",
          "format": "date-time"
        },
        "timeDeleted": {
          "type": "string",
          "description": "The time at which the object became noncurrent in RFC 3339 format. Will be returned if and only if this version of the object has been deleted.",
          "format": "date-time"
        },
        "timeFinalized": {
          "type": "string",
          "description": "The time when the object was finalized.",
          "format": "date-time"
        },
        "softDeleteTime": {
          "type": "string",
          "description": "The time at which the object became soft-deleted in RFC 3339 format.",
          "format": "date-time"
        },
        "hardDeleteTime": {
          "type": "string",
          "description": "This is the time (in the future) when the soft-deleted object will no longer be restorable. It is equal to the soft delete time plus the current soft delete retention duration of the bucket.",
          "format": "date-time"
        },
        "timeStorageClassUpdated": {
          "type": "string",
          "description": "The time at which the object's storage class was last changed. When the object is initially created, it will be set to timeCreated.",
          "format": "date-time"
        },
        "updated": {
          "type": "string",
          "description": "The modification time of the object metadata in RFC 3339 format. Set initially to object creation time and then updated whenever any metadata of the object changes. This includes changes made by a requester, such as modifying custom metadata, as well as changes made by Cloud Storage on behalf of a requester, such as changing the storage class based on an Object Lifecycle Configuration.",
          "format": "date-time"
        }
      }
    },
    "ManagedFolder": {
      "id": "ManagedFolder",
      "type": "object",
      "description": "A managed folder.",
      "properties": {
        "bucket": {
          "type": "string",
          "description": "The name of the bucket containing this managed folder."
        },
        "id": {
          "type": "string",
          "description": "The ID of the managed folder, including the bucket name and managed folder name."
        },
        "kind": {
          "type": "string",
          "description": "The kind of item this is. For managed folders, this is always storage#managedFolder.",
          "default": "storage#managedFolder"
        },
        "metageneration": {
          "type": "string",
          "description": "The version of the metadata for this managed folder. Used for preconditions and for detecting changes in metadata.",
          "format": "int64"
        },
        "name": {
          "type": "string",
          "description": "The name of the managed folder. Required if not specified by URL parameter."
        },
        "selfLink": {
          "type": "string",
          "description": "The link to this managed folder."
        },
        "createTime": {
          "type": "string",
          "description": "The creation time of the managed folder in RFC 3339 format.",
          "format": "date-time"
        },
        "updateTime": {
          "type": "string",
          "description": "The last update time of the managed folder metadata in RFC 3339 format.",
          "format": "date-time"
        }
      }
    }
  },
  "resources": {
    "buckets": {
      "methods": {
        "delete": {
          "id": "storage.buckets.delete",
          "path": "b/{bucket}",
          "httpMethod": "DELETE",
          "description": "Deletes an empty bucket. Deletions are permanent unless soft delete is enabled on the bucket.",
          "parameters": {
            "bucket": {
              "type": "string",
              "description": "Name of a bucket.",
              "required": true,
              "location": "path"
            },
            "ifMetagenerationMatch": {
              "type": "string",
              "description": "If set, only deletes the bucket if its metageneration matches this value.",
              "format": "int64",
              "location": "query"
            },
            "ifMetagenerationNotMatch": {
              "type": "string",
              "description": "If set, only deletes the bucket if its metageneration does not match this value.",
              "format": "int64",
              "location": "query"
            },
            "userProject": {
              "type": "string",
              "description": "The project to be billed for this request. Required for Requester Pays buckets.",
              "location": "query"
            }
          },
          "parameterOrder": [
            "bucket"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/devstorage.full_control",
            "https://www.googleapis.com/auth/devstorage.read_write"
          ]
        },
        "get": {
          "id": "storage.buckets.get",
          "path": "b/{bucket}",
          "httpMethod": "GET",
          "description": "Returns metadata for the specified bucket.",
          "parameters": {
            "bucket": {
              "type": "string",
              "description": "Name of a bucket.",
              "required": true,
              "location": "path"
            },
            "generation": {
              "type": "string",
              "description": "If present, specifies the generation of the bucket. This is required if softDeleted is true.",
              "format": "int64",
              "location": "query"
            },
            "softDeleted": {
              "type": "boolean",
              "description": "If true, return the soft-deleted version of this bucket. The default is false. For more information, see [Soft Delete](https://cloud.google.com/storage/docs/soft-delete).",
              "location": "query"
            },
            "ifMetagenerationMatch": {
              "type": "string",
              "description": "Makes the return of the bucket metadata conditional on whether the bucket's current metageneration matches the given value.",
              "format": "int64",
              "location": "query"
            },
            "ifMetagenerationNotMatch": {
              "type": "string",
              "description": "Makes the return of the bucket metadata conditional on whether the bucket's current metageneration does not match the given value.",
              "format": "int64",
              "location": "query"
            },
            "projection": {
              "type": "string",
              "description": "Set of properties to return. Defaults to noAcl.",
              "enum": [
                "full",
                "noAcl"
              ],
              "enumDescriptions": [
                "Include all properties.",
                "Omit owner, acl and defaultObjectAcl properties."
              ],
              "location": "query"
            },
            "userProject": {
              "type": "string",
              "description": "The project to be billed for this request. Required for Requester Pays buckets.",
              "location": "query"
            }
          },
          "parameterOrder": [
            "bucket"
          ],
          "response": {
            "$ref": "Bucket"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/devstorage.full_control",
            "https://www.googleapis.com/auth/devstorage.read_only",
            "https://www.googleapis.com/auth/devstorage.read_write"
          ]
        },
        "insert": {
          "id": "storage.buckets.insert",
          "path": "b",
          "httpMethod": "POST",
          "description": "Creates a new bucket.",
          "parameters": {
            "predefinedAcl": {
              "type": "string",
              "description": "Apply a predefined set of access controls to this bucket.",
              "enum": [
                "authenticatedRead",
                "private",
                "projectPrivate",
                "publicRead",
                "publicReadWrite"
              ],
              "enumDescriptions": [
                "Project team owners get OWNER access, and allAuthenticatedUsers get READER access.",
                "Project team owners get OWNER access.",
                "Project team members get access according to their roles.",
                "Project team owners get OWNER access, and allUsers get READER access.",
                "Project team owners get OWNER access, and allUsers get WRITER access."
              ],
              "location": "query"
            },
            "predefinedDefaultObjectAcl": {
              "type": "string",
              "description": "Apply a predefined set of default object access controls to this bucket.",
              "enum": [
                "authenticatedRead",
                "bucketOwnerFullControl",
                "bucketOwnerRead",
                "private",
                "projectPrivate",
                "publicRead"
              ],
              "enumDescriptions": [
                "Object owner gets OWNER access, and allAuthenticatedUsers get READER access.",
                "Object owner gets OWNER access, and project team owners get OWNER access.",
                "Object owner gets OWNER access, and project team owners get READER access.",
                "Object owner gets OWNER access.",
                "Object owner gets OWNER access, and project team members get access according to their roles.",
                "Object owner gets OWNER access, and allUsers get READER access."
              ],
              "location": "query"
            },
            "project": {
              "type": "string",
              "description": "A valid API project identifier.",
              "required": true,
              "location": "query"
            },
            "projection": {
              "type": "string",
              "description": "Set of properties to return. Defaults to noAcl, unless the bucket resource specifies acl or defaultObjectAcl properties, when it defaults to full.",
              "enum": [
                "full",
                "noAcl"
              ],
              "enumDescriptions": [
                "Include all properties.",
                "Omit owner, acl and defaultObjectAcl properties."
              ],
              "location": "query"
            },
            "userProject": {
              "type": "string",
              "description": "The project to be billed for this request.",
              "location": "query"
            },
            "enableObjectRetention": {
              "type": "boolean",
              "description": "When set to true, object retention is enabled for this bucket.",
              "default": "false",
              "location": "query"
            }
          },
          "parameterOrder": [
            "project"
          ],
          "request": {
            "$ref": "Bucket"
          },
          "response": {
            "$ref": "Bucket"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/devstorage.full_control",
            "https://www.googleapis.com/auth/devstorage.read_write"
          ]
        },
        "patch": {
          "id": "storage.buckets.patch",
          "path": "b/{bucket}",
          "httpMethod": "PATCH",
          "description": "Patches a bucket. Changes to the bucket will be readable immediately after writing, but configuration changes may take time to propagate.",
          "parameters": {
            "bucket": {
              "type": "string",
              "description": "Name of a bucket.",
              "required": true,
              "location": "path"
            },
            "ifMetagenerationMatch": {
              "type": "string",
              "description": "Makes the return of the bucket metadata conditional on whether the bucket's current metageneration matches the given value.",
              "format": "int64",
              "location": "query"
            },
            "ifMetagenerationNotMatch": {
              "type": "string",
              "description": "Makes the return of the bucket metadata conditional on whether the bucket's current metageneration does not match the given value.",
              "format": "int64",
              "location": "query"
            },
            "predefinedAcl": {
              "type": "string",
              "description": "Apply a predefined set of access controls to this bucket.",
              "enum": [
                "authenticatedRead",
                "private",
                "projectPrivate",
                "publicRead",
                "publicReadWrite"
              ],
              "enumDescriptions": [
                "Project team owners get OWNER access, and allAuthenticatedUsers get READER access.",
                "Project team owners get OWNER access.",
                "Project team members get access according to their roles.",
                "Project team owners get OWNER access, and allUsers get READER access.",
                "Project team owners get OWNER access, and allUsers get WRITER access."
              ],
              "location": "query"
            },
            "predefinedDefaultObjectAcl": {
              "type": "string",
              "description": "Apply a predefined set of default object access controls to this bucket.",
              "enum": [
                "authenticatedRead",
                "bucketOwnerFullControl",
                "bucketOwnerRead",
                "private",
                "projectPrivate",
                "publicRead"
              ],
              "enumDescriptions": [
                "Object owner gets OWNER access, and allAuthenticatedUsers get READER access.",
                "Object owner gets OWNER access, and project team owners get OWNER access.",
                "Object owner gets OWNER access, and project team owners get READER access.",
                "Object owner gets OWNER access.",
                "Object owner gets OWNER access, and project team members get access according to their roles.",
                "Object owner gets OWNER access, and allUsers get READER access."
              ],
              "location": "query"
            },
            "projection": {
              "type": "string",
              "description": "Set of properties to return. Defaults to full.",
              "enum": [
                "full",
                "noAcl"
              ],
              "enumDescriptions": [
                "Include all properties.",
                "Omit owner, acl and defaultObjectAcl properties."
              ],
              "location": "query"
            },
            "userProject": {
              "type": "string",
              "description": "The project to be billed for this request. Required for Requester Pays buckets.",
              "location": "query"
            }
          },
          "parameterOrder": [
            "bucket"
          ],
          "request": {
            "$ref": "Bucket"
          },
          "response": {
            "$ref": "Bucket"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/devstorage.full_control"
          ]
        }
      }
    },
    "objects": {
      "methods": {
        "delete": {
          "id": "storage.objects.delete",
          "path": "b/{bucket}/o/{object}",
          "httpMethod": "DELETE",
          "description": "Deletes an object and its metadata. Deletions are permanent if versioning is not enabled for the bucket, or if the generation parameter is used.",
          "parameters": {
            "bucket": {
              "type": "string",
              "description": "Name of the bucket in which the object resides.",
              "required": true,
              "location": "path"
            },
            "generation": {
              "type": "string",
              "description": "If present, permanently deletes a specific revision of this object (as opposed to the latest version, the default).",
              "format": "int64",
              "location": "query"
            },
            "ifGenerationMatch": {
              "type": "string",
              "description": "Makes the operation conditional on whether the object's current generation matches the given value. Setting to 0 makes the operation succeed only if there are no live versions of the object.",
              "format": "int64",
              "location": "query"
            },
            "ifGenerationNotMatch": {
              "type": "string",
              "description": "Makes the operation conditional on whether the object's current generation does not match the given value. If no live object exists, the precondition fails. Setting to 0 makes the operation succeed only if there is a live version of the object.",
              "format": "int64",
              "location": "query"
            },
            "ifMetagenerationMatch": {
              "type": "string",
              "description": "Makes the operation conditional on whether the object's current metageneration matches the given value.",
              "format": "int64",
              "location": "query"
            },
            "ifMetagenerationNotMatch": {
              "type": "string",
              "description": "Makes the operation conditional on whether the object's current metageneration does not match the given value.",
              "format": "int64",
              "location": "query"
            },
            "object": {
              "type": "string",
              "description": "Name of the object. For information about how to URL encode object names to be path safe, see [Encoding URI Path Parts](https://cloud.google.com/storage/docs/request-endpoints#encoding).",
              "required": true,
              "location": "path"
            },
            "userProject": {
              "type": "string",
              "description": "The project to be billed for this request. Required for Requester Pays buckets.",
              "location": "query"
            }
          },
          "parameterOrder": [
            "bucket",
            "object"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/devstorage.full_control",
            "https://www.googleapis.com/auth/devstorage.read_write"
          ]
        },
        "get": {
          "id": "storage.objects.get",
          "path": "b/{bucket}/o/{object}",
          "httpMethod": "GET",
          "description": "Retrieves an object or its metadata.",
          "parameters": {
            "bucket": {
              "type": "string",
              "description": "Name of the bucket in which the object resides.",
              "required": true,
              "location": "path"
            },
            "generation": {
              "type": "string",
              "description": "If present, selects a specific revision of this object (as opposed to the latest version, the default).",
              "format": "int64",
              "location": "query"
            },
            "ifGenerationMatch": {
              "type": "string",
              "description": "Makes the operation conditional on whether the object's current generation matches the given value. Setting to 0 makes the operation succeed only if there are no live versions of the object.",
              "format": "int64",
              "location": "query"
            },
            "ifGenerationNotMatch": {
              "type": "string",
              "description": "Makes the operation conditional on whether the object's current generation does not match the given value. If no live object exists, the precondition fails. Setting to 0 makes the operation succeed only if there is a live version of the object.",
              "format": "int64",
              "location": "query"
            },
            "ifMetagenerationMatch": {
              "type": "string",
              "description": "Makes the operation conditional on whether the object's current metageneration matches the given value.",
              "format": "int64",
              "location": "query"
            },
            "ifMetagenerationNotMatch": {
              "type": "string",
              "description": "Makes the operation conditional on whether the object's current metageneration does not match the given value.",
              "format": "int64",
              "location": "query"
            },
            "object": {
              "type": "string",
              "description": "Name of the object. For information about how to URL encode object names to be path safe, see [Encoding URI Path Parts](https://cloud.google.com/storage/docs/request-endpoints#encoding).",
              "required": true,
              "location": "path"
            },
            "projection": {
              "type": "string",
              "description": "Set of properties to return. Defaults to noAcl.",
              "enum": [
                "full",
                "noAcl"
              ],
              "enumDescriptions": [
                "Include all properties.",
                "Omit the owner, acl property."
              ],
              "location": "query"
            },
            "userProject": {
              "type": "string",
              "description": "The project to be billed for this request. Required for Requester Pays buckets.",
              "location": "query"
            },
            "softDeleted": {
              "type": "boolean",
              "description": "If true, only soft-deleted object versions will be listed. The default is false. For more information, see [Soft Delete](https://cloud.google.com/storage/docs/soft-delete).",
              "location": "query"
            },
            "restoreToken": {
              "type": "string",
              "description": "Restore token used to differentiate soft-deleted objects with the same name and generation. Only applicable for hierarchical namespace buckets and if softDeleted is set to true. This parameter is optional, and is only required in the rare case when there are multiple soft-deleted objects with the same name and generation.",
              "location": "query"
            }
          },
          "parameterOrder": [
            "bucket",
            "object"
          ],
          "response": {
            "$ref": "Object"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/devstorage.full_control",
            "https://www.googleapis.com/auth/devstorage.read_only",
            "https://www.googleapis.com/auth/devstorage.read_write"
          ],
          "supportsMediaDownload": true,
          "useMediaDownloadService": true
        },
        "insert": {
          "id": "storage.objects.insert",
          "path": "b/{bucket}/o",
          "httpMethod": "POST",
          "description": "Stores a new object and metadata.",
          "parameters": {
            "bucket": {
              "type": "string",
              "description": "Name of the bucket in which to store the new object. Overrides the provided object metadata's bucket value, if any.",
              "required": true,
              "location": "path"
            },
            "contentEncoding": {
              "type": "string",
              "description": "If set, sets the contentEncoding property of the final object to this value. Setting this parameter is equivalent to setting the contentEncoding metadata property. This can be useful when uploading an object with uploadType=media to indicate the encoding of the content being uploaded.",
              "location": "query"
            },
            "ifGenerationMatch": {
              "type": "string",
              "description": "Makes the operation conditional on whether the object's current generation matches the given value. Setting to 0 makes the operation succeed only if there are no live versions of the object.",
              "format": "int64",
              "location": "query"
            },
            "ifGenerationNotMatch": {
              "type": "string",
              "description": "Makes the operation conditional on whether the object's current generation does not match the given value. If no live object exists, the precondition fails. Setting to 0 makes the operation succeed only if there is a live version of the object.",
              "format": "int64",
              "location": "query"
            },
            "ifMetagenerationMatch": {
              "type": "string",
              "description": "Makes the operation conditional on whether the object's current metageneration matches the given value.",
              "format": "int64",
              "location": "query"
            },
            "ifMetagenerationNotMatch": {
              "type": "string",
              "description": "Makes the operation conditional on whether the object's current metageneration does not match the given value.",
              "format": "int64",
              "location": "query"
            },
            "kmsKeyName": {
              "type": "string",
              "description": "Resource name of the Cloud KMS key, of the form projects/my-project/locations/global/keyRings/my-kr/cryptoKeys/my-key, that will be used to encrypt the object. Overrides the object metadata's kms_key_name value, if any.",
              "location": "query"
            },
            "name": {
              "type": "string",
              "description": "Name of the object. Required when the object metadata is not otherwise provided. Overrides the object metadata's name value, if any. For information about how to URL encode object names to be path safe, see [Encoding URI Path Parts](https://cloud.google.com/storage/docs/request-endpoints#encoding).",
              "location": "query"
            },
            "predefinedAcl": {
              "type": "string",
              "description": "Apply a predefined set of access controls to this object.",
              "enum": [
                "authenticatedRead",
                "bucketOwnerFullControl",
                "bucketOwnerRead",
                "private",
                "projectPrivate",
                "publicRead"
              ],
              "enumDescriptions": [
                "Object owner gets OWNER access, and allAuthenticatedUsers get READER access.",
                "Object owner gets OWNER access, and project team owners get OWNER access.",
                "Object owner gets OWNER access, and project team owners get READER access.",
                "Object owner gets OWNER access.",
                "Object owner gets OWNER access, and project team members get access according to their roles.",
                "Object owner gets OWNER access, and allUsers get READER access."
              ],
              "location": "query"
            },
            "projection": {
              "type": "string",
              "description": "Set of properties to return. Defaults to noAcl, unless the object resource specifies the acl property, when it defaults to full.",
              "enum": [
                "full",
                "noAcl"
              ],
              "enumDescriptions": [
                "Include all properties.",
                "Omit the owner, acl property."
              ],
              "location": "query"
            },
            "userProject": {
              "type": "string",
              "description": "The project to be billed for this request. Required for Requester Pays buckets.",
              "location": "query"
            }
          },
          "parameterOrder": [
            "bucket"
          ],
          "request": {
            "$ref": "Object"
          },
          "response": {
            "$ref": "Object"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/devstorage.full_control",
            "https://www.googleapis.com/auth/devstorage.read_write"
          ],
          "supportsMediaUpload": true,
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/storage/v1/b/{bucket}/o"
              },
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/storage/v1/b/{bucket}/o"
              }
            }
          }
        },
        "patch": {
          "id": "storage.objects.patch",
          "path": "b/{bucket}/o/{object}",
          "httpMethod": "PATCH",
          "description": "Patches an object's metadata.",
          "parameters": {
            "bucket": {
              "type": "string",
              "description": "Name of the bucket in which the object resides.",
              "required": true,
              "location": "path"
            },
            "generation": {
              "type": "string",
              "description": "If present, selects a specific revision of this object (as opposed to the latest version, the default).",
              "format": "int64",
              "location": "query"
            },
            "ifGenerationMatch": {
              "type": "string",
              "description": "Makes the operation conditional on whether the object's current generation matches the given value. Setting to 0 makes the operation succeed only if there are no live versions of the object.",
              "format": "int64",
              "location": "query"
            },
            "ifGenerationNotMatch": {
              "type": "string",
              "description": "Makes the operation conditional on whether the object's current generation does not match the given value. If no live object exists, the precondition fails. Setting to 0 makes the operation succeed only if there is a live version of the object.",
              "format": "int64",
              "location": "query"
            },
            "ifMetagenerationMatch": {
              "type": "string",
              "description": "Makes the operation conditional on whether the object's current metageneration matches the given value.",
              "format": "int64",
              "location": "query"
            },
            "ifMetagenerationNotMatch": {
              "type": "string",
              "description": "Makes the operation conditional on whether the object's current metageneration does not match the given value.",
              "format": "int64",
              "location": "query"
            },
            "overrideUnlockedRetention": {
              "type": "boolean",
              "description": "Must be true to remove the retention configuration, reduce its unlocked retention period, or change its mode from unlocked to locked.",
              "location": "query"
            },
            "object": {
              "type": "string",
              "description": "Name of the object. For information about how to URL encode object names to be path safe, see [Encoding URI Path Parts](https://cloud.google.com/storage/docs/request-endpoints#encoding).",
              "required": true,
              "location": "path"
            },
            "predefinedAcl": {
              "type": "string",
              "description": "Apply a predefined set of access controls to this object.",
              "enum": [
                "authenticatedRead",
                "bucketOwnerFullControl",
                "bucketOwnerRead",
                "private",
                "projectPrivate",
                "publicRead"
              ],
              "enumDescriptions": [
                "Object owner gets OWNER access, and allAuthenticatedUsers get READER access.",
                "Object owner gets OWNER access, and project team owners get OWNER access.",
                "Object owner gets OWNER access, and project team owners get READER access.",
                "Object owner gets OWNER access.",
                "Object owner gets OWNER access, and project team members get access according to their roles.",
                "Object owner gets OWNER access, and allUsers get READER access."
              ],
              "location": "query"
            },
            "projection": {
              "type": "string",
              "description": "Set of properties to return. Defaults to full.",
              "enum": [
                "full",
                "noAcl"
              ],
              "enumDescriptions": [
                "Include all properties.",
                "Omit the owner, acl property."
              ],
              "location": "query"
            },
            "userProject": {
              "type": "string",
              "description": "The project to be billed for this request, for Requester Pays buckets.",
              "location": "query"
            }
          },
          "parameterOrder": [
            "bucket",
            "object"
          ],
          "request": {
            "$ref": "Object"
          },
          "response": {
            "$ref": "Object"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/devstorage.full_control"
          ]
        }
      }
    },
    "managedFolders": {
      "methods": {
        "delete": {
          "id": "storage.managedFolders.delete",
          "path": "b/{bucket}/managedFolders/{managedFolder}",
          "httpMethod": "DELETE",
          "description": "Permanently deletes a managed folder.",
          "parameters": {
            "bucket": {
              "type": "string",
              "description": "Name of the bucket containing the managed folder.",
              "required": true,
              "location": "path"
            },
            "managedFolder": {
              "type": "string",
              "description": "The managed folder name/path.",
              "required": true,
              "location": "path"
            },
            "ifMetagenerationMatch": {
              "type": "string",
              "description": "If set, only deletes the managed folder if its metageneration matches this value.",
              "format": "int64",
              "location": "query"
            },
            "ifMetagenerationNotMatch": {
              "type": "string",
              "description": "If set, only deletes the managed folder if its metageneration does not match this value.",
              "format": "int64",
              "location": "query"
            },
            "allowNonEmpty": {
              "type": "boolean",
              "description": "Allows the deletion of a managed folder even if it is not empty. A managed folder is empty if there are no objects or managed folders that it applies to. Callers must have storage.managedFolders.setIamPolicy permission.",
              "location": "query"
            }
          },
          "parameterOrder": [
            "bucket",
            "managedFolder"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/devstorage.full_control",
            "https://www.googleapis.com/auth/devstorage.read_write"
          ]
        },
        "get": {
          "id": "storage.managedFolders.get",
          "path": "b/{bucket}/managedFolders/{managedFolder}",
          "httpMethod": "GET",
          "description": "Returns metadata of the specified managed folder.",
          "parameters": {
            "bucket": {
              "type": "string",
              "description": "Name of the bucket containing the managed folder.",
              "required": true,
              "location": "path"
            },
            "managedFolder": {
              "type": "string",
              "description": "The managed folder name/path.",
              "required": true,
              "location": "path"
            },
            "ifMetagenerationMatch": {
              "type": "string",
              "description": "Makes the return of the managed folder metadata conditional on whether the managed folder's current metageneration matches the given value.",
              "format": "int64",
              "location": "query"
            },
            "ifMetagenerationNotMatch": {
              "type": "string",
              "description": "Makes the return of the managed folder metadata conditional on whether the managed folder's current metageneration does not match the given value.",
              "format": "int64",
              "location": "query"
            }
          },
          "parameterOrder": [
            "bucket",
            "managedFolder"
          ],
          "response": {
            "$ref": "ManagedFolder"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/devstorage.full_control",
            "https://www.googleapis.com/auth/devstorage.read_only",
            "https://www.googleapis.com/auth/devstorage.read_write"
          ]
        },
        "insert": {
          "id": "storage.managedFolders.insert",
          "path": "b/{bucket}/managedFolders",
          "httpMethod": "POST",
          "description": "Creates a new managed folder.",
          "parameters": {
            "bucket": {
              "type": "string",
              "description": "Name of the bucket containing the managed folder.",
              "required": true,
              "location": "path"
            }
          },
          "parameterOrder": [
            "bucket"
          ],
          "request": {
            "$ref": "ManagedFolder"
          },
          "response": {
            "$ref": "ManagedFolder"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/devstorage.full_control",
            "https://www.googleapis.com/auth/devstorage.read_write"
          ]
        }
      }
    }
  }
}
